MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=ucl_pipeline
MYSQL_USER=pipeline_user
MYSQL_PASSWORD=pipeline_pass

MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=rootpassword
MONGO_DATABASE=ucl_events
